*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #0c4167;
    color: papayawhip;
}
ul{
    list-style: none;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-3{
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.flags{
    width: 260px;
    height: 150px;
}
